<h1>Welcome to Angular directives</h1>

<h2 *ngIf="isLoggedIn" >{{userName}}</h2>

@if (isLoggedIn) {
  <h2>{{secondUserName}}</h2>
}

<ul>
  @for (user of users; track $index) {
    @if (user.age < 40) {
      <li>{{user.firstName}} {{user.lastName}} {{user.age}}</li>
    }@else{
      <li>No Users of this age</li>
    }
    
  }
</ul>

<!-- @if, @else syntax approach -->

@if (isAdmin) {
  <h4>Welcome Admin</h4>
}@else if (isMember) {
  <h4>Welcome Member</h4>
}@else if (isGuest) {
  <h4>Welcome Guest</h4>
}


<router-outlet />
