img{
    width: 200px;
    height: 100px;
    cursor: pointer;
}
button{
    color: black;
    border-radius: 5px;
    border: 2px solid rgb(78, 47, 47);
}

.active{
    background-color: green;
    color: white;
    cursor: pointer;
}
.no-active{
    background-color: red;
}

.active-border{
    border:5px solid yellow;
}
.no-active-border{
    border:5px solid blue;
}

.apple{
    background-color: red;
    border:2px solid green;
}
