<app-header />
<img [src]="imgUrl" alt="">
<button disabled="{{isDisabled}}" >Disable using string interpolation</button>
<button [disabled]="isDisabled" >Disable using property binding</button>


<h1>Welcome to my new {{title}}</h1>
<button (click)="change()">Change</button>
<app-navbar />
<!-- 
<hr>

<button 
    [class.active]="isActive" 
    [class.no-active]="!isActive"
    [class.active-border]="isActive"
    [class.no-active-border]="!isActive"
    >Active Me</button>

<hr>

<button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>

<hr>

<button 
    [style.background]="'red'" 
    [style.border-radius]="'10px'"
    [style.height]="'40px'"
    [style.width]="'80px'"
    >Click Again</button> -->

<!-- <hr> -->

<!-- <button (click)="submit()">Click Me</button> -->
<!-- event binding -->
 <!-- <hr> -->

 <!-- <button ((mouseover))="submit()">Click Me</button>
 <input type="text" (keyup)="keyEnter($event)"> -->

 <!-- <hr>  -->

 <input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput">
<hr>
 <!-- Two Way Data Binding -->

<input type="text" [value]="userName" #username (keyup.enter)="updateUsername(username)">

<hr>

<input type="text" [(ngModel)]="userName" >

<h3>{{userName}}</h3>

<!--  One way vs two way data binding -->

<input type="text" [value]="textValue" (keyup.enter)="keyEnter()" >

<hr>

<input type="text" [(ngModel)]="textValue" (keyup.enter)="keyEnter()">
<router-outlet />
